<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <title>Inicio- Coches de Occidente</title>
        <meta name="viewport" content="width-device-width"/>
        <link rel="stylesheet" href="../styles/mainstyles.css"/>
        <link rel="icon" type="image/png" href="../public/cochesimg.webp"/>
    </head>
    <body>
        <header>
            <div class="divheader">
                <a href="../index.html"><img title="Coches logo" alt="Coches de Occidente logo" src="../public/cochesimg.webp"/></a>
                <h5>Coches de Occidente</h5> 
            </div>
            <div class="divheader">
                <input class="barrabusqueda" type="text" placeholder="Ingrese el tipo de repuesto que busca"/>
                <button >
                    <img src="../public/search.png" alt=""/>
                </button>
            </div>
            <div class="divheader">
                <img class="icons" title="Contact" alt='contact' src="../public/whatsapp.webp"/>
                <img class="icons" title="My Account" alt='My Account' src="../public/user.png"/>
                <img class="icons" title="My Basket" alt='My Basket' src="../public/shopping.webp"/>
            </div>
        </header>
        <main>
            <h1>Carrito de compras</h1>
        </main>
        <footer>
            <nav>
                <div class="divfooter">
                    <img title="Coches logo" alt="Coches de Occidente logo" src="../public/cochesimg.webp"/>
                    <h5>Coches de Occidente</h5> 
                </div>
                <div class="listados">
                    <ul>
                        <h3>Sobre nosotros</h3>
                        <li>Historia</li>
                        <li>Nuestros clientes</li>
                        <li>Ubiquenos</li>
                    </ul>
                </div>     
                <div class="listados">
                    <ul>
                        <h3>Nuestros automoviles</h3>
                        <li>Nuevos</li>
                        <li>Usados</li>
                        <li>Consulte nuestro catalogo</li>
                    </ul>
                </div>                    
                <div class="listados">
                    <ul>
                        <h3>Nuestros repuestos</h3>
                        <li>Farolas y stops</li>
                        <li>Baterias</li>
                        <li>Bocines</li>
                        <li>Rines y llantas</li>
                        <li>Transmisiones</li>
                        <li>Otros repuestos</li>
                    </ul>
                </div>  
                <div class="divfooter">
                    <ul>
                        <h3>Nuestras redes sociales</h3>
                        <li><a target="_blank" href="#">
                            <img class="icons2" alt="Facebook" title="Facebook" src="../public/Facebook_Logo_2023.png"/>
                        </a></li>
                        <li><a target="_blank" href="#">
                            <img class="icons2" alt="Instagram" title="Instagram" src="../public/Instagram_icon.png.webp"/>
                        </a></li>
                        <li><a target="_blank" href="#">
                            <img class="icons2" alt="Twitter" title="Twitter" src="../public/xlogo.png"/>
                        </a></li>
                    </ul>
                    </div>
            </nav>
        </footer>
    </body>
</html>